@{
    ViewBag.Title = "Home Page";
}

<h2>Imp Links:</h2>
<h3>
    @Html.ActionLink("Get total number of aircrafts owned by a airline.", "TotalAicraft", "Home")
</h3>

<h3>
    @Html.ActionLink("Travel History for a Passenger.", "TravelHistory", "Home")
</h3>
<h3>
    @Html.ActionLink("Most Visited City in the last Month.", "MostVisitedCity", "FlightTrack")
</h3>
<h3>
    @Html.ActionLink("Get Passenger And Flight Details With Reservation Number.", "PFDetails", "Home")
</h3>
