
@{
    ViewBag.Title = "TotalAicraftView";
}

<h3>
    Total Number of aircrafts owned by @TempData["airLineName"] is: @TempData["countOfAirline"]
</h3>

@Html.ActionLink("Back to Home", "Index", "Home")
