@model ATRS.Context.Passenger
@{
    ViewBag.Title = "AddPassenger";
}

<h2>Add Passenger</h2>

@using (Html.BeginForm("AddPassengerToDB", "Passenger", FormMethod.Post))
{
    <div class="container">
        @if (Model.PassengerID > 0) 
        {
            <div class="form-group">
                <label>Passenger ID</label>
                @Html.TextBoxFor(x => x.PassengerID, new { @class = "form-control" })
            </div>
        }
        <div class="form-group">
            <label>Passenger Name</label>
            @Html.TextBoxFor(x => x.PassengerName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Passport No.</label>
            @Html.TextBoxFor(x => x.PassportNo, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Mobile No.</label>
            @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}